/* 
    Document   : web-style
    Created on : 3.12.2014, 8:26:04
    Author     : Bogdan Kostov <bogdan.kostov@fel.cvut.cz>
    Description:
        Purpose of the stylesheet follows.
*/
.item{
    text-align: center;
}
#header{
    height: 10vh;
    margin: 1vh;
    border: 1px solid #000;
    border-color: #BBB;
    background-color: #BBB;
}
.headerButtons{
    position: absolute;
    right: 1.5rem;
    top: 0.5rem;
}
.titleForm{
    width: 33%;
    display: inline-block;
    position: relative;
    vertical-align: top;
    height: 70%;
}

.actors{
    background-color: #999;
}
.users{
    background-color: #DDD;
}
.films{
    background-color: #BBB;
}

#content{
    height: 73.5vh;
    margin: 1vh;

}
#footer{
    height: 10vh;
    margin: 1vh;
    border: 1px solid #000;
}
p{
    text-align: left;
    margin: 10px;
}
h1{
    text-align: center;
}

